aiofiles==0.5.0
aiosqlite==0.15.0
aniso8601==7.0.0
appdirs==1.4.4
appnope==0.1.0
async-exit-stack==1.0.1
async-generator==1.10
asyncpg==0.21.0
atomicwrites==1.4.0
attrs==20.2.0
backcall==0.2.0
certifi==2020.6.20
cfgv==3.2.0
chardet==3.0.4
click==7.1.2
colorama==0.4.4
coverage==5.3
decorator==4.4.2
distlib==0.3.1
dnspython==2.0.0
email-validator==1.1.1
fastapi==0.61.1
filelock==3.0.12
graphene==2.1.8
graphql-core==2.3.2
graphql-relay==2.0.1
gunicorn==20.0.4
h11==0.9.0
httpcore==0.12.0
httptools==0.1.1
httpx==0.16.1
identify==1.5.6
idna==2.10
iniconfig==1.1.1
ipython==7.18.1
ipython-genutils==0.2.0
iso8601==0.1.13
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.2
MarkupSafe==1.1.1
multidict==5.0.0
nodeenv==1.5.0
orjson==3.4.1
packaging==20.4
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
pluggy==0.13.1
pre-commit==2.7.1
promise==2.3
prompt-toolkit==3.0.8
ptyprocess==0.6.0
py==1.9.0
pydantic==1.6.1
Pygments==2.7.1
pyparsing==2.4.7
PyPika==0.42.1
pytest==6.1.1
pytest-clarity==0.3.0a0
pytest-cov==2.10.1
pytest-emoji==0.2.0
pytest-html==2.1.1
pytest-instafail==0.4.2
pytest-metadata==1.10.0
pytest-picked==0.4.4
pytest-pythonpath==0.7.3
pytest-vcr==1.0.2
python-multipart==0.0.5
PyYAML==5.3.1
requests==2.24.0
rfc3986==1.4.0
Rx==1.6.1
six==1.15.0
sniffio==1.2.0
starlette==0.13.6
termcolor==1.1.0
toml==0.10.1
tortoise-orm==0.16.16
traitlets==5.0.5
typing-extensions==3.7.4.3
ujson==3.2.0
urllib3==1.25.11
uvicorn==0.11.8
uvloop==0.14.0
vcrpy==4.1.1
virtualenv==20.0.35
wcwidth==0.2.5
websockets==8.1
wrapt==1.12.1
yarl==1.6.2
